header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 20px;
    background: transparent;
    transition: 0.5s;
}

header.black {
    background: #141414;
}

.logo {
    width: 130px;
}

.avatar {
    width: 40px;
    transition: 0.5s;
}

.avatar:hover {
transform: scale(1.2);
border: 1px solid white;
}